In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import text
import mplfinance as mpf

from routers import MySQLRouter

In [ ]:
HOST = "localhost:3306"
USER = "root"
PASSWORD = "stock"
DBNAME = "TWSE"

In [ ]:
conn = MySQLRouter(HOST, USER, PASSWORD, DBNAME).mysql_conn
query = """
    SELECT * 
    FROM DailyPrice
    WHERE Date BETWEEN '2025-01-01' AND '2025-06-20' 
    AND SecurityCode = '2330'
"""
results = conn.execute(text(query)).fetchall()
conn.close()

In [ ]:
df = pd.DataFrame(results)

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
columns_to_convert = ['TradeVolume', 'OpeningPrice', 'HighestPrice', 'LowestPrice', 'ClosingPrice']
df[columns_to_convert] = df[columns_to_convert].astype(float)

In [ ]:
df.rename({"Date": "date",
           "TradeVolume": "volume", 
           "OpeningPrice": "open",
           "HighestPrice": "high",
           "LowestPrice": "low",
           "ClosingPrice": "close"}, axis=1, inplace=True)

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
mpf.plot(df, type='candle', style='yahoo',
         title='2330 Daily Price',
         ylabel='Price (TWD)',
         volume=True,
         mav=(5, 10, 20),
         figratio=(16, 9),
         figscale=1.2)
plt.show()